a:hover{
    text-decoration: none;
}
#brand{
    padding-right:0.5rem;
}
nav{
    position:fixed;
}
.float-right-lg{
  float:right;
}
ul a:hover{
  background-color: rgb(255, 165, 91);
}
.dropdown-item:hover{
  background-color:  rgb(255, 165, 91);
}
#frontImg{
  position:relative;
  background-color: black;
}
.reappearingText {
  position: absolute;
  left: 10%;
  margin-left: -10px;
  top: 38%;
  margin-top: -38px;
  z-index:10;
}
.reappearingText p {
  font-size: 4rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.reappearingText p span.typed-text {
  font-weight: normal;
  color: rgb(248, 171, 108);
}
.reappearingText p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.reappearingText p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
main{
    height:100vh;
}